@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(244, 245, 246);
}

.bg-red {
  background-color: #f74334;
}

.logo {
  width: 120px;
}

.main-logo {
  width: 410px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.logo img {
  object-fit: unset;
}

.nav-right {
  padding-right: 10px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

span:hover {
  color: #f74334;
}

/* jyoti's code */

main {
  overflow-x: hidden;
}

main::-webkit-scrollbar {
  display: none;
}

/*
.container-fluid {
    height: 100%;
}
*/
.subscribe {
  height: 300px;
}

/* Color classes */

.heading-gray-color {
  color: rgba(3, 3, 3, 0.4);
  line-height: 16px;
}

.text-gray {
  color: rgba(3, 3, 3, 0.5);
}

.black-color {
  color: #000;
}

.red-text {
  color: #f72210;
}

.white-text {
  color: #fff;
}

.signup-bg {
  background-color: rgb(244, 245, 246);
}

.red-bg {
  background-color: #f72210;
}

.news-ltr-clr {
  color: #333;
  font-weight: 300;
  line-height: 21px;
}

/* font sizes */

.roboto-cond {
  font-family: 'Roboto Condensed', sans-serif;
}

.large-font {
  font-size: 20px;
  line-height: 20px;
}

.small-font {
  font-size: 15px;
}

.sm-heading {
  font-size: 17px;
  line-height: 16px;
}

.debate-subheading {
  font-size: 20px;
  line-height: 20px;
}

/* hover class */

.hover:hover {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid red;
}

.nochange:hover {
  text-decoration: none;
  color: #fff;
}

.no-hover:hover {
  text-decoration: none;
  color: rgba(3, 3, 3, 0.5);
}

.wrap {
  width: 90%;
  margin: 0 auto;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.feature-article .card {
  border: none;
}

.mr-3 {
  width: 95px;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  background-color: #fff;
}

.debate-img {
  max-width: inherit;
  width: auto;
  height: 70px;
}

.mag-img {
  height: 100%;
}

.debate-card2 {
  width: 80%;
  margin: 0 auto;
}

.logo-N {
  display: inline-block;
  background-color: #f72210;
  width: 28px;
  height: 28px;
}

.feature-btn {
  background-color: rgb(244, 245, 246);
}

.side-img {
  width: 95px;
  height: 95px;
}

.border-b {
  border-bottom: 1px solid rgb(216, 211, 211);
}

ul {
  padding-inline-start: 0;
}

.rel-pos {
  position: relative;
}

.sub-row {
  background-color: rgb(244, 245, 246);
}

.img-heading {
  position: absolute;
  left: 10px;
  bottom: 55px;
  padding: 0 20px;
  color: red;
  background-color: rgba(255, 255, 255, 0.9);
}

input[type="text"i] {
  padding: 0;
}

.subscribe-img {
  width: 150px;
  height: 200px;
}

.subscribe-img1 {
  top: 40px;
  left: 60px;
}

.subscribe-img2 {
  top: -140px;
  left: 120px;
}

@media only screen and (max-width: 768px) {
  img {
    width: 100%;
  }

  .mr-3 {
    width: 95px;
  }

  body {
    font-size: 15px;
    line-height: 20px;
  }

  .subscribe-img1 {
    top: 40px;
    left: 60px;
  }

  .subscribe-img2 {
    top: -140px;
    left: 120px;
  }

  .newsletter {
    margin: 60px 0;
  }

  .newsltr-img {
    display: none;
  }

  .sub-section {
    display: flex;
  }

  .text-section {
    flex: 1;
    position: relative;
    top: -250px;
    left: 30px;
  }

  .h-100 {
    height: 400px !important;
  }

  .news-ltr-head {
    margin-top: 30px;
  }
}

@media (max-width: 991px) and(min-width: 768px) {
  .debate-cards {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
  }

  .subscribe-img1 {
    top: 40px;
    left: 60px;
  }

  .subscribe-img2 {
    top: -140px;
    left: 120px;
  }

  /* .newsletter {
    margin-top: 10px;
  } */

  /* NAVBAR */
  .enlarge {
    font-size: 25px;
  }
}

@media only screen and (min-width: 992px) {
  .mag-img {
    margin-top: 20px;
    height: 250px;
  }

  .subscribe-img1 {
    top: 40px;
    left: 160px;
  }

  .subscribe-img2 {
    top: -140px;
    left: 120px;
  }

  .subs-text {
    left: -80px;
    top: 50px;
  }

  /* NAVBAR */
  .enlarge {
    font-size: 25px;
  }
}

/* footer section */

.footer-image {
  width: 20px;
}

.bottom-footer li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.footer-logo {
  object-fit: unset;
}

.footer-icon {
  width: 250px;
}

.footer-p {
  font-size: 12px;
  padding-left: 110px;
}
